
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("FLT/FLT_LV", "FLT_LV", "FLT")
<br />
@Html.ActionLink("FLT/FLT_LU", "FLT_LU", "FLT")
<br />
@Html.ActionLink("FLT/FLT_LZ", "FLT_LZ", "FLT")
<br />
@Html.ActionLink("BSTU/Index", "Index", "BSTU")
<br />
