
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ActionLink("FIE/FIE_TM", "FIE_TM", "FIE")
<br />
@Html.ActionLink("FIE/FIE_UR", "FIE_UR", "FIE")
<br />
@Html.ActionLink("FIE/FIE_UP", "FIE_UP", "FIE")
<br />
@Html.ActionLink("BSTU/Index", "Index", "BSTU")
<br />